body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	bottom:0px;
	height: 100%;
	left: 0%;
	position: absolute;
	right: 0px;
}

.map-info-window {
	width: 200px;
	height: 200px;
}

.containerBox {
    background: white;
    height: 100%;
    width: 20%;
    top: 80px;
    position: fixed;
    z-index: 10;
    transition: 0.5s;
}

#hide-unhide {
    background: #ebe6e3;
    top: 50px;
    left: 10px;
    position: relative;
    z-index: 20;
    height: 100%;
    width: 100px;
}

.casinoButton {
    background: #e6ffff;
    color: black;
    border: 1px solid #008CBA; 
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    overflow: hidden;
    text-overflow: clip;  
}

#searchInput {
    width: 100%;
}

hr {
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    border-style: inset;
}

@media screen and (max-width: 800px) {
  h1 {font-size: 18px;}
  .casinoButton {font-size: 10px;}
}

