body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	bottom:0px;
	height: 100%;
	left: 0%;
	position: absolute;
	right: 0px;
}

.map-info-window {
	width: 200px;
	height: 200px;
}



.main {
	transition: margin-left .5s;
	padding: 5px;
	position: absolute;
	z-index: 5;
	Left: 50px;
	top: 10%;
	font-size: 40px;
	background-color: #bfbfbf;
}

.container {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.container a {
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-size: 25px;
}

.container a:hover {
	color: #ffffff;
}

.container .closebutton {
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: white;
}

@media screen and (max-height: 450px) {
  .container {padding-top: 15px;}
  #sidebar a {font-size: 25px;}
}