body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	bottom:0px;
	height: 100%;
	left: 0%;
	position: absolute;
	right: 0px;
}

.map-info-window {
	width: 200px;
	height: 200px;
}

.containerBox {
    background: white;
    height: 100%;
    width: 20%;
    top: 80px;
    position: fixed;
    z-index: 10;
    transition: 0.5s;
}

#hide-unhide {
    background: #ebe6e3;
    top: 50px;
    left: 10px;
    position: relative;
    z-index: 20;
    height 100%;
    width: 100px;
}

.casinoButton {
    background: #e6ffff;
    color: black;
    border: 1px solid #008CBA; 
    height: 20px;
    width: 200px;
    text
}


hr {
    height: 1px;
    margin-right: auto;
    margin-left: auto;
    border-style: inset;
}

@media screen and (max-height: 450px) {
  .container {padding-top: 15px;}
  #sidebar {font-size: 18px;}
}